html {
  min-height: 100%;
}

.footer {
  min-height: 24px;
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-top: 1px solid black;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}

.content {
  height: calc(100% - 48px);
  width: 100%;
  overflow: auto;
  bottom: 0px;
  top: 0px;
  position: relative;
}

.central240 {
	width: 240px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.ui-panel-titlebar {
	background-color: #9dd3db;
	padding: 4px;
	padding-left: 8px;
}

.ui-button {
	height: 34px;
}

.label {
	color: black;
	vertical-align: middle;
	font-size: revert;
	padding-top: 16px;
}

.formlabel {
	width: 25%;
	padding: 4px;
}

.formvalue {
	width: 75%;
	padding: 4px;
}