<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
	<composite:attribute name="value" />
</composite:interface>
<composite:implementation>
	<!-- make some space for the floater -->
	<div style="padding: 4px" />
	<span class="ui-float-label"> <composite:insertChildren /> <h:outputLabel for="@previous" value="#{cc.attrs.value}" />
	</span>
</composite:implementation>
</html>