<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:j="http://java.sun.com/jsf/composite/jottyfan">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<p:panel header="Daten korrigieren">
				<h:form>
					<h:panelGrid columns="2" columnClasses="label, value" cellpadding="8">
						<h:outputText value="ID" />
						<h:outputText value="#{editModel.bean.pk}" />
						<h:outputLabel for="mileage" value="Kilometerstand" />
						<p:inputNumber id="mileage" value="#{editModel.bean.mileage}" maxlength="7" thousandSeparator="" decimalPlaces="0" maxValue="9999999" minValue="0" />
						<h:outputLabel for="fuel" value="Kraftstoff" />
						<p:autoComplete id="fuel" value="#{editModel.bean.fuel}" completeMethod="#{addModel.filterFuels}" />
						<h:outputLabel for="location" value="Ort" />
						<p:autoComplete id="location" value="#{editModel.bean.location}" completeMethod="#{addModel.filterLocations}" />
						<h:outputLabel for="price" value="Preis" />
						<p:inputNumber id="price" value="#{editModel.bean.price}" mask="999,99" symbol="€ " symbolPosition="p" decimalPlaces="2" maxValue="999" minValue="0" decimalSeparator="," thousandSeparator="" />
						<h:outputLabel for="amount" value="Menge" />
						<p:inputNumber id="amount" value="#{editModel.bean.amount}" mask="999,99" symbol=" l" symbolPosition="s" decimalPlaces="2" maxValue="999" minValue="0" decimalSeparator=","
							thousandSeparator="" />
						<h:outputLabel for="provider" value="Tankstellenname" />
						<p:autoComplete id="provider" value="#{editModel.bean.provider}" completeMethod="#{addModel.filterProviders}" />
						<h:outputLabel for="buydate" value="Rechnungszeitpunkt" />
						<p:datePicker id="buydate" value="#{editModel.bean.buydate}" locale="de" showButtonBar="true" showIcon="true" showTime="true" pattern="dd.MM.yyyy HH:mm" />
						<h:outputLabel for="annotation" value="Kommentar" />
						<p:inputTextarea id="annotation" value="#{editModel.bean.annotation}" />
						<p:commandButton action="#{addController.toWelcome}" value="Abbrechen" ajax="false" immediate="true" />
						<p:commandButton action="#{editController.doUpdate}" value="Übernehmen" ajax="false" />
					</h:panelGrid>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>