<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:j="http://java.sun.com/jsf/composite/jottyfan">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<p:panel header="Verlauf der bisherigen Einkäufe">
				<p:chart widgetVar="chart" type="line" model="#{linechartController.model.zoomModel}" style="height: 512px" />
				<h:form>
					<j:buttonGroup>
						<p:commandButton type="button" value="Herauszoomen" icon="fa fa-search-minus" onclick="PF('chart').resetZoom()" />
						<p:commandButton action="#{addController.toWelcome}" value="Abbrechen" ajax="false" immediate="true" />
					</j:buttonGroup>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>