<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:j="http://java.sun.com/jsf/composite/jottyfan">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<h:form styleClass="central240">
				<p:panel header="Login" styleClass="central240">
					<j:floater value="Code">
						<p:password value="#{addModel.key}" style="width: 100%" />
					</j:floater>
					<f:facet name="footer">
						<p:commandButton action="#{addController.doStartSession}" value="anmelden" style="left: 25%; right: 25%" />
					</f:facet>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>