<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:j="http://java.sun.com/jsf/composite/jottyfan">
<h:head>
	<h:outputStylesheet name="style.css?version=#{applicationBean.getVersion(facesContext)}" library="css" />
</h:head>
<h:body>
	<div class="content">
		<div id="messages">
			<p:messages showDetail="true" skipDetailIfEqualsSummary="true" closable="true" />
		</div>
		<div id="content" style="margin: 8px">
			<ui:insert name="content" />
		</div>
		<div id="logout">
			<h:form rendered="#{addModel.inSession}">
				<j:buttonGroup>
					<p:selectOneMenu value="#{applicationBean.loglevel}">
						<f:selectItems value="#{applicationBean.loglevels}" var="l" itemLabel="#{l.name()}" itemValue="#{l}" />
					</p:selectOneMenu>
					<p:commandButton action="#{addController.doInvalidateSession}" value="Sitzung beenden" icon="fa fa-power-off" ajax="false" immediate="true" />
				</j:buttonGroup>
			</h:form>
		</div>
	</div>
	<div class="footer">
		<div id="footer" style="position: absolute; right: 12px; display: inline">
			<h:outputText value="#{applicationBean.getVersion(facesContext)}" />
		</div>
	</div>
</h:body>
</html>