<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:j="http://java.sun.com/jsf/composite/jottyfan">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<p:panel header="bisher erfasste Daten">
				<h:form>
					<p:dataTable value="#{showModel.data}" var="e" paginator="true" rows="10" paginatorAlwaysVisible="false">
						<p:column headerText="ID" sortBy="#{e.pk}">
							<p:commandLink action="#{editController.toEdit(e)}" ajax="false" value="#{e.pk}" />
						</p:column>
						<p:column headerText="KM" sortBy="#{e.mileage}" filterable="true">
							<h:outputText value="#{e.mileage}" />
						</p:column>
						<p:column headerText="Preis €" sortBy="#{e.price}" filterable="true">
							<h:outputText value="#{e.price}" />
						</p:column>
						<p:column headerText="Menge l" sortBy="#{e.amount}" filterable="true">
							<h:outputText value="#{e.amount}" />
						</p:column>
						<p:column headerText="Kraftstoff" sortBy="#{e.fuel}" filterable="true">
							<h:outputText value="#{e.fuel}" />
						</p:column>
						<p:column headerText="Ort" sortBy="#{e.location}" filterable="true">
							<h:outputText value="#{e.location}" />
						</p:column>
						<p:column headerText="Tankstelle" sortBy="#{e.provider}" filterable="true">
							<h:outputText value="#{e.provider}" />
						</p:column>
						<p:column headerText="Datum" sortBy="#{e.buydate}" filterable="true">
							<h:outputText value="#{e.buydate}" />
						</p:column>
						<p:column headerText="€ / l" sortBy="#{e.europroliter}" filterable="true">
							<h:outputText value="#{e.europroliter}" />
						</p:column>
						<p:column headerText="Kommentar" sortBy="#{e.annotation}" filterable="true">
							<h:outputText value="#{e.annotation}" />
						</p:column>
					</p:dataTable>
					<j:buttonGroup>
						<p:commandButton action="#{addController.toAdd}" value="Eintrag hinzufügen" ajax="false" icon="fa fa-plus" />
						<p:commandButton action="#{linechartController.toLinechart}" value="Verlauf" ajax="false" icon="fa fa-line-chart" />
					</j:buttonGroup>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>